[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iprashant
[access "refs/for/refs/*"]
	read = group user/iprashant
	push = group user/iprashant
	label-Code-Review = -2..+2 group user/iprashant
	label-Verified = -1..+1 group user/iprashant
	rebase = group user/iprashant
	removeReviewer = group user/iprashant
	submit = group user/iprashant
[access "refs/heads/*"]
	read = group user/iprashant
	create = group user/iprashant
	push = +force group user/iprashant
	pushMerge = group user/iprashant
[access "refs/tags/*"]
	push = +force group user/iprashant
	pushTag = group user/iprashant
	pushSignedTag = group user/iprashant
